<div class="jumbotron text-center">
  <h1 class="text-center">WELCOME</h1>
  <p class="lead">Write down your thoughts and ideas to share with the world.</p>
  <a href="/blogs/add" class="btn btn-dark btn-lg">Add Blog</a>
</div>